# This is a small text for file saving

In [7]:
import pandas
import numpy
import os
import time
import datetime

df = pandas.DataFrame(numpy.random.randint(0,100,size=(10, 4)), columns=list('ABCD'))
print(df)
df

    A   B   C   D
0  24  95  50  52
1  60  67  32  76
2  61  45  70  96
3  57  83  16  23
4  84  17  60  79
5  13  56  44  69
6  84  83  13  38
7  28  27  96  67
8   1  23   3  39
9  18  12  38  76

    A   B   C   D
0  24  95  50  52
1  60  67  32  76
2  61  45  70  96
3  57  83  16  23
4  84  17  60  79
5  13  56  44  69
6  84  83  13  38
7  28  27  96  67
8   1  23   3  39
9  18  12  38  76

In [ ]:
df.to_csv('../data/scratch_dir/new_dir_test_file.gzip', compression='gzip', sep=',')

In [6]:
now = datetime.datetime.now()
time_for_f_name = now.strftime("%Y-%m-%d_at_%H-%M")

time_for_f_name

'2017-05-02_at_14-41'

In [ ]:

#path = '../data/'

#os.rename('../data/scratch_dir','../data/'+time_for_f_name)