# This is a small text for file saving

In [2]:
import pandas
import numpy
import os
import time
import datetime

df = pandas.DataFrame(numpy.random.randint(0,100,size=(10, 4)), columns=list('ABCD'))
df

    A   B   C   D
0  94  58   0  93
1  13  95  84  57
2   7  84  15  99
3  62  25  63  53
4  90   0  16  45
5  15  54   4  74
6  90   8  63  25
7  72  50   2  91
8  71  13  33  37
9  61  48   9  23

In [ ]:
df.to_csv('../data/scratch_dir.csv', sep=',')

In [6]:
now = datetime.datetime.now()
time_for_f_name = now.strftime("%Y-%m-%d_at_%H-%M")

time_for_f_name

'2017-05-02_at_14-41'

In [ ]:

#path = '../data/'

os.rename('../data/scratch_dir','../data/'+time_for_f_name)